body {
    box-sizing: border-box;
    margin: 0;
    font-family: Raleway, Verdana, sans-serif;
    background-color: blanchedalmond;
}

h1 {
    display: flex;
    align-items: center;
    height: 15vh;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: Splash, sans-serif;
    color: hsl(207, 100%, 82%);
    background-color: hsl(240, 100%, 55%); /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, hsl(240, 100%, 55%) , hsl(207, 100%, 82%));
}

h1 span {
    position: relative;
    left: 1rem;
    font-size: 8vh;
    margin-right: .1rem;
}

h2 {
    font-weight: bold;
    padding: 1vh 0;
    margin: 0;
    background-color: midnightblue;
    color: azure;
    display: flex;
    align-items: center;
    border-top: .25rem solid gray;
    border-bottom: .1rem solid black;
    
}

h2 span {
    position: relative;
    left: 2rem;
    font-size: 5vh;
}

section {
    margin-left: 2rem;
}

h3 {
    font-weight: bold;
}

p {
    position: relative;
    margin: 0 0 .5rem 1rem;
}
