* {
    box-sizing: border-box;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
}
button {
    padding: 8px;
    background-color: white;
    border: 1px solid black;
    flex-basis: 25%;
    height: 100px;

}
.item {
    background-color: white;
    border: 4px solid tomato;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-rows: 1fr 8fr 1fr;
}

figure {
    visibility: hidden;
}
.project-image {
    position: absolute;
    max-width: 100%;
    height: auto;
    overflow: hidden;
}
figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;

}
