* {
    box-sizing: border-box;
}
html {
    font-size: 16px ;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h1 {
    font-family: 'Roboto Slab';
    font-size: 1.5rem;
}
h2 {
    font-family: 'Gruppo';
    font-size: 1.2rem;
    font-weight: 400;
}
.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4px;
}
button {
    padding: 8px;
    background-color: orange;
    border: 1px solid black;
    width: 80px;
    height: 80px;
    font-family: 'Roboto Condensed';
    color: black;
    font-size: 1rem;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-rows: .1fr .33fr 1fr .1fr;
}
nav {
}
nav.item {
    margin-bottom: 15px;
}
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
figure {
    visibility: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
}
.project-image {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    padding-top: 25px;
}
figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
}
p {
    padding: 2px;
}